/*
================================
     Theme Fonts Family
================================
 */
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i";
@import "https://fonts.googleapis.com/css?family=Raleway:300,300i,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,800";
@import "https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900";



//Theme Color Variable
$primary-color: #01b7f2;



//Theme Fonts Variable
$open-sans: 'Open Sans', sans-serif;
$raleway-font: 'Raleway', sans-serif;
$lato-font:  'Lato', sans-serif;
$montserrat-font: 'Montserrat', sans-serif;